<%= flash[:notice] %>

<%= link_to 'Voltar', promotions_path %>

<h1><%= @promotion.name %></h1>
<dl>
    <dt>Descrição</dt>
    <dd><%= @promotion.description %></dd>
    <dt>Desconto</dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator:',' %></dd>
    <dt>Código</dt>
    <dd><%= @promotion.code %></dd>
    <dt>Data de expiração</dt>
    <dd><%= I18n.localize(@promotion.expiration_date) %></dd>
    <dt>Quantidade de cupons</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
    <dt>Cadastrada por:</dt>
    <dd><%= @promotion.user.email %></dd>
    
    <% if @promotion.approved? %>
        <dt>Status: </dt> 
        <dd>Aprovada</dd>
        
        <% unless @promotion.coupons.any? %>
            <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
        <% end %>
        
    <% end %>
</dl>

<% unless current_user == @promotion.user %>
    <%= link_to 'Aprovar Promoção', approve_promotion_path(@promotion), method: :post  %>
<% end %>

<% @promotion.coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id %>">
        <%= coupon.code %> (<%= t(".#{coupon.status}") %>)
        <% if coupon.active? %>
            <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
        <% end %>
    </div>
<% end %>